NODE_ENV=development
SERVICE_NAME=notifications-gateway
LOG_LEVEL=info
LOG_PRETTY=true
CONTAINERIZED=false
METRICS_PATH=/metrics
JWT_SECRET=replace_me
MONGO_URI=mongodb://root:root@localhost:27017/notifications?authSource=admin
KAFKA_CLIENT_ID=notification
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=notification-consumer
NOTIFICATION_SERVICE_PORT=3002
